html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }


.complete-container {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  background-image: url("../assets/pencil.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 709px;
  min-width: 670px;
  margin-top: 10px;
}

.list-functional-container {
  position: absolute;
  width: 320px;
}

h1 {
  font-family: 'Kalam', cursive;
  letter-spacing: -2px;
  font-weight: 900;
  font-size: 60px;
  padding-right: 50px;
  margin-top: 18px;
  margin-left: -30px;
}

.to-do-form {
  margin-left: -5%;
}


ul {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  margin-left: -20%;
  margin-right: 10%;
}


li {
  width: 365px;
  height:25px;
  overflow: visible;
  font-family: 'Kalam', cursive;
  font-size: 18px;
  margin-top: 4px;
}

span {
  display: inline-block;
}

p {
  display: inline-block;
}

#add {
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 900;
  box-shadow: 3px 5px 4px #969595;
}

#add:focus {
  outline:none;
}

#add:active {
  transform: translateY(2px);
  background-color: #4646f5;
  color: #fff;
  box-shadow: 0px 3px 2px -2px #969595;
}

#new-item {
  background-color: transparent;
  font-family: 'Kalam', cursive;
  font-size: 14px;
  width:200px;
  border: 1px solid #c7c7c7;
}

#new-item:focus {
  outline: none;
}

.check {
  line-height: .85;
  border: 1px solid #c7c7c7;
  border-radius: 60%;
  color: transparent;
  margin-right: 4px;
}

.check:hover {
  color: #888787;
  cursor: pointer;
}

.show {
  color: #111;
}

.strike {
  text-decoration: line-through;
}

.ex {
  display: inline-block;
  float: right;
  right:0px;
  border: none;
  padding: none;
  margin: none;
  background-color: transparent;
  font-family: 'Kalam', cursive;
  font-size: 22px;
  line-height: 1;
}

.ex:focus {
  outline: none;
}

.ex:hover {
  cursor: pointer;
}

.edit {
  display: inline-block;
  float: right;
  border:none;
  background-color:transparent;
  font-size: 20px;
  line-height: 1;
  -ms-transform: scale(-1,1);
  -webkit-transform: scale(-1,1);
  transform: scale(-1,1);
}
.edit:hover {
  cursor: pointer;
}

.edit:focus {
  outline: none;
}

.show-modal {
  display: flex;
}

#modal {
  position: absolute;
  top: 0;
  left: -50px;
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);

}


.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #5f5f5f;
  border-radius: 5px;
}

#edit-window {
  width: 300px;
  margin: 10px;
  font-family: 'Kalam', cursive;
  font-size: 18px;
  padding: 3px 5px 0px 5px;
}

a {
  border: 1px solid #5f5f5f;
  border-radius: 3px;
  text-decoration: none;
  color: #111;
  background-color: #e6e6e6;
  padding: 0 10px;
  margin: 10px;
}
