html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }


.complete-container {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  background-image: url("../assets/pencil.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 709px;
  min-width: 670px;
  margin-top: 10px;
}

.list-functional-container {
  position: absolute;
  width: 320px;
}

h1 {
  font-size: 52px;
  padding-right: 50px;
  margin-top: 20px;
  margin-left: -34px;
  margin-bottom: 8px;
}

.to-do-form {
  margin-left: -5%;
}


ul {
  margin-left: -20%;
  margin-right: 10%;
}


li {
  margin-top:11px;
}

span {
  display: inline-block;
}

#submit-button {
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  background-color: transparent;
  font-weight: bold;
}

#submit-button:focus {
  outline:none;
}

#submit-button:active {
  transform: translateY(2px);
  border-color:red;
  color: red;
}

#new-item {
  background-color: transparent;
  width:200px;
  border: 1px solid #c7c7c7;
}

#new-item:focus {
  outline: none;
}


.complete {
  float: left;
}

.remove {
  float: right;
}

.check {
  border: 1px solid #c7c7c7;
  border-radius: 60%;
  padding: 0 2px;

  color: transparent;
}


.check:hover {
  color: #111;
  cursor: pointer;
}

#check {
  border: 1px solid #c7c7c7;
  border-radius: 25%;
  color: transparent;
}


#check:hover {
  color: #111;
  cursor: pointer;
}

.ex {
  font-size: 18px;
  float: right;
}

.ex:hover {
  cursor: pointer;
}
